# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/
